body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

/* Botão para abrir a sidebar */
.menu-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: fixed;
    top: 20px;
    left: 20px;
 
}

.menu-btn i {
    font-size: 30px; /* Reduz o tamanho do ícone para telas menores */
    color: #000; 
}

/* Botão para fechar a sidebar */
.close-btn {
    background-color: #e42525;
    padding: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    border: none;
    outline: none;
}

.close-btn i {
    font-size: 25px; /* Reduz o tamanho do ícone para telas menores */
    padding: 5px;
    color: #fff;
}

/* Menu sidebar */
.sidebar {
    height: 100%;
    width: 300px; /* Ajusta a largura da barra lateral para telas menores */
    position: fixed;
    top: 0;
    left: -300px; /* Inicialmente fora da tela */
    background-color: #20ad41;
    padding-top: 40px;
    transition: transform 0.6s ease; /* Adiciona transição para uma animação suave */
    z-index: 1;
    overflow-y: auto; /* Adiciona rolagem vertical quando a altura é maior que a janela */
}

.sidebar.active {
    transform: translateX(300px); /* Move a barra lateral para dentro da tela */
}

.sidebar h1 {
    text-transform: uppercase;
    font-size: 25px; /* Reduz o tamanho da fonte para telas menores */
    color: #fff;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
}

.sidebar p{
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

.sidebar h3{
    font-size: 22px; /* Reduz o tamanho da fonte para telas menores */
    background-color: rgba(0, 0, 0, 0.3);
    border-left: 6px solid #205dad;
    color: #fff;
    cursor: pointer;
    text-align: left;
    padding: 15px;
    margin-bottom: 1px;
}

.sidebar h3 i{
    font-size: 25px; /* Reduz o tamanho do ícone para telas menores */
    padding: 5px;
    margin-right: 15px;
}

/* Estilos para dispositivos maiores, como tablets e desktops */
.sidebar ul {
    margin: 0 auto;
    height: 100%;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
    display: none;
    list-style-type: none;
    padding: 15px;
}

.sidebar li {
    overflow-y: auto;
    padding: 5px;
    text-align: center;
}

.sidebar .item-content {
    display: flex;
    align-items: center;
}

.sidebar .item-content span {
    text-transform: uppercase;
    font-size: 20px; /* Reduz o tamanho da fonte para telas menores */
    border-left: 3px solid #fff;
    background-color: #346937;
    color: #fff;
    padding: 10px;
    flex-grow: 1;
    margin-right: auto; /* Empurra o botão para a direita */
}

.sidebar .item-content button {
    margin-left: 1px; /* Espaço entre o texto e o botão */
    background-color: #20ad41;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px;
}

.btn-copy{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn-copy i{
    font-size: 20px; /* Reduz o tamanho do ícone para telas menores */
    color: #fff;
}

/* Conteúdo */

.content h1 {
    text-align: center;
    color: #20ad41;
    font-size: 40px; /* Reduz o tamanho da fonte para telas menores */
}

.content {
    padding: 20px;
    transition: 0.6s; 
    margin-left: 0; /* Margem esquerda inicial */
}

.content.active {
    margin-left: 50%; /* Move o conteúdo principal quando a barra lateral está ativa */
}

#inputCode,
#inputQtd,
#inputDesc,
.btn-qrcode,
.btn-limpar {
    display: block;
    margin: 10px auto;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px; /* Reduz o tamanho da fonte para telas menores */
}

.content ::placeholder{
    font-size: 18px; /* Reduz o tamanho do placeholder para telas menores */
}

input[type="text"],
input[type="number"],
.btn-qrcode,
.btn-limpar {
    box-sizing: border-box;
}

.btn-qrcode {
    background-color: #20ad41;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
}

.btn-limpar {
    text-transform: uppercase;
    background-color: #205dad;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    
    .sidebar {
        height: 100%;
        width: 50%; 
        left: -50%; 
    }
    
    .sidebar.active {
        transform: translateX(100%); /* Move a barra lateral para dentro da tela */
    }
    
}



