body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
#info-display {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: calc(100% - 10px); /* Subtrai a altura da borda para evitar estouro */
    overflow: hidden;/* Defina a altura como 100% da altura da viewport */
    background-color: #fff;
    border-radius: 8px;
    border: 5px solid #000;
}

#qrcode {
    border: 1px solid #333333;
    margin-top: 5px;
    position: absolute; /* Adiciona posicionamento absoluto */
    top: 10px; /* Posiciona o QR code no topo */
    right: 10px; /* Posiciona o QR code à direita */
}


#span-data-hora{
    text-align: right;
    margin-right:5px;
    margin-top: 5px;
    font-size: 20px;
}

h2 {
    margin: auto;
    color: #000;
    border-bottom: 2px solid #000;
    padding: 38px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}


#span-qtd,
#span-desc {
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    font-size: 140px;
}

#span-desc{
    border-bottom: 5px solid #000;
}

span {
    display: block;
    padding-bottom: 5px;
    font-size: 40px;
    text-transform: uppercase;
}
